@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff"); }

@font-face {
  font-family: "Montserrat";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"); }

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff"); }

@font-face {
  font-family: "Montserrat";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"); }

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  font-size: 7px; }

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0; }

.link-reset {
  color: inherit;
  text-decoration: none; }

.button-reset {
  background: none;
  border: none;
  font-family: "Montserrat", "Arial", sans-serif; }

.input-reset {
  border: none;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #141517; }

.text {
  font-size: 16px;
  line-height: 28px;
  font-weight: normal;
  letter-spacing: -0.36px;
  color: rgba(44, 46, 63, 0.7); }

.container {
  width: 61.667%;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 1023px) {
    .container {
      width: 100%; } }

.title {
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.24px;
  color: #2c2e3f;
  position: relative; }
  .title::after {
    position: absolute;
    content: "";
    bottom: -24px;
    left: 0;
    width: 175px;
    height: 4px;
    background-color: #fe7865; }
    @media (max-width: 1023px) {
      .title::after {
        display: none; } }
  @media (max-width: 1023px) {
    .title {
      font-size: 30px;
      line-height: 45px;
      letter-spacing: normal; } }
  @media (max-width: 767px) {
    .title {
      font-size: 24px; } }

.page {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
  color: #2c2e3f; }

.page__main {
  background-image: url("../img/bg-map.svg");
  background-repeat: no-repeat;
  background-position: center 72%; }

.header {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 40px 0.4% 33px 0.4%;
  overflow: hidden; }
  @media (max-width: 1023px) {
    .header {
      padding: 0;
      align-items: center; } }

@media (max-width: 1023px) {
  .header__logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 16px 0 10px 2.8%; } }

@media (max-width: 767px) {
  .header__logo-container {
    padding: 16px 0 10px 4.8%; } }

@media (max-width: 1023px) {
  .header__logo {
    width: 44px; } }

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%; }

.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #141517;
  padding: 3px 1.3% 0 1.3%; }
  @media (max-width: 1023px) {
    .menu__list {
      display: none; } }

.menu__item {
  margin-right: 40px; }
  .menu__item:last-of-type {
    margin-right: 0; }
  @media (max-width: 1023px) {
    .menu__item {
      flex-basis: 100%;
      padding: 17px;
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      margin: 0 0 30px 0;
      background-color: #fbf8f8; } }

@media (max-width: 1023px) {
  .menu__action {
    display: flex;
    justify-content: space-between;
    align-items: center; } }

.menu__action:hover {
  color: #fe7865; }

.menu__arrow {
  display: none; }
  @media (max-width: 1023px) {
    .menu__arrow {
      display: block; } }

.menu__item--price {
  margin-right: 89px; }
  @media (max-width: 1023px) {
    .menu__item--price {
      margin: 0; } }

@media (max-width: 1023px) {
  .menu__item--phone {
    display: none; } }

.menu__button {
  display: none;
  width: 72px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fe7865;
  background-image: url("../img/icons/icon-menu-close.svg"); }
  @media (max-width: 1023px) {
    .menu__button {
      display: flex; } }
  @media (max-width: 767px) {
    .menu__button {
      width: 50px; } }

.menu--no-js {
  background-color: #ffffff;
  align-items: flex-start; }
  @media (max-width: 1023px) {
    .menu--no-js {
      min-height: 568px; } }

.menu__list--no-js {
  position: relative; }
  @media (max-width: 1023px) {
    .menu__list--no-js {
      display: flex;
      flex-basis: 100%;
      background-color: #ffffff; } }

.menu__button--no-js {
  display: none; }

@media (max-width: 1023px) {
  .menu--open {
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: #ffffff;
    align-items: flex-start;
    min-height: 568px; } }

.menu__list--open {
  position: relative; }
  @media (max-width: 1023px) {
    .menu__list--open {
      display: flex;
      flex-basis: 100%;
      background-color: #ffffff; } }

.menu__button--open {
  background-image: url("../img/icons/icon-menu-open.svg");
  background-color: #ffffff; }

.phone {
  position: relative;
  font-size: 18px;
  text-decoration: underline; }

.phone__icon {
  position: absolute;
  top: 0;
  left: -30px;
  width: 17px;
  height: 24px; }

.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  color: #ffffff;
  background-color: #fe7865; }
  .button:hover {
    background-color: #f17d4b; }

.button--details {
  position: relative;
  width: 340px;
  padding: 30px 40px;
  justify-content: flex-start; }
  @media (max-width: 1023px) {
    .button--details {
      width: 250px;
      padding: 19px 39px;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 2px; } }
  @media (max-width: 767px) {
    .button--details {
      width: 288px; } }

.button__icon {
  position: absolute;
  right: 38px;
  width: 18px;
  height: 18px; }

.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 187px 20% 296px 20%;
  margin-bottom: 202px;
  background-image: url("../img/mountains-view-desktop.jpg");
  background-color: #141517;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 center;
  color: #ffffff; }
  @media (max-width: 1023px) {
    .intro {
      background-image: url("../img/mountains-view-tablet.jpg");
      padding: 60px 23% 83px 23%;
      margin-bottom: 81px; } }
  @media (max-width: 767px) {
    .intro {
      text-align: center;
      background-image: none;
      background-color: #ffffff;
      padding: 0;
      margin-bottom: 104px; } }

.intro__wrapper {
  flex-basis: 40%; }
  @media (max-width: 1023px) {
    .intro__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      flex-basis: auto; } }

@media (max-width: 767px) {
  .intro__title-container {
    box-sizing: border-box;
    width: 100%;
    min-height: 235px;
    background-image: url("../img/mountains-view-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 81px;
    margin-bottom: 5px; } }

.intro__title {
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.1px;
  margin: 0 0 27px 0; }
  @media (max-width: 1023px) {
    .intro__title {
      font-size: 30px;
      line-height: 45px;
      letter-spacing: normal;
      margin: 0; } }
  @media (max-width: 767px) {
    .intro__title {
      font-size: 24px;
      line-height: 36px;
      padding: 0 16% 0 18%;
      margin-bottom: 80px; } }

.intro__text {
  line-height: 27px;
  letter-spacing: -0.46px;
  padding-right: 25%;
  margin-bottom: 34px; }
  @media (max-width: 1023px) {
    .intro__text {
      font-size: 16px;
      line-height: 27px;
      padding-right: 0;
      margin-bottom: 9px;
      text-align: center; } }
  @media (max-width: 767px) {
    .intro__text {
      color: #2c2e3f;
      padding: 0 8%;
      margin-bottom: 19px; } }

@media (max-width: 1023px) {
  .places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 80px; } }

@media (max-width: 767px) {
  .places {
    margin-bottom: 6px; } }

.places__title {
  padding: 0 70% 0 0.6%;
  margin-bottom: 64px; }
  .places__title::after {
    bottom: -31px;
    left: 7px;
    width: 228px; }
  @media (max-width: 1023px) {
    .places__title {
      padding: 0;
      margin: 0; } }

.places__text {
  padding: 0 70% 0 0.6%; }
  @media (max-width: 1023px) {
    .places__text {
      padding: 0 26%;
      margin-top: 21px;
      text-align: center; } }
  @media (max-width: 767px) {
    .places__text {
      padding: 0 10px;
      margin-top: 15px; } }

.countries-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 37px; }
  @media (max-width: 1023px) {
    .countries-list {
      padding-top: 23px; } }
  @media (max-width: 767px) {
    .countries-list {
      padding-top: 4px; } }

.countries-list__item {
  margin: 0 4.445% 100px 0;
  flex-basis: 30.215%; }
  .countries-list__item:last-child {
    margin-right: 0;
    margin-left: 60px; }
    @media (max-width: 1023px) {
      .countries-list__item:last-child {
        margin-left: 0;
        margin-top: 11px; } }
    @media (max-width: 767px) {
      .countries-list__item:last-child {
        margin-top: 0; } }
  .countries-list__item:nth-child(3n) {
    margin: 0; }
    @media (max-width: 767px) {
      .countries-list__item:nth-child(3n) {
        margin-bottom: 35px; } }
  @media (max-width: 1023px) {
    .countries-list__item:nth-child(2n) {
      margin-left: 10px; } }
  @media (max-width: 767px) {
    .countries-list__item:nth-child(2n) {
      margin-left: 0; } }
  @media (max-width: 1023px) {
    .countries-list__item {
      flex-basis: 40%;
      margin: 0 0 19px 0; } }
  @media (max-width: 767px) {
    .countries-list__item {
      margin-bottom: 35px;
      flex-basis: 100%; } }

.countries-list__action {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.41px; }

.countries-list__country {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 51.1%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 16px;
  background-color: #ffffff; }
  @media (max-width: 1023px) {
    .countries-list__country {
      min-width: 60%; } }

.countries-list__image {
  width: 100%;
  height: auto;
  vertical-align: bottom; }

.countries-list__hover-mask {
  display: none; }

.countries-list__action:hover .countries-list__hover-mask {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(20, 21, 23, 0.5);
  width: 100%;
  min-height: 100%; }

.countries-list__more {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 266px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2px;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  color: #ffffff;
  padding: 18px 0; }

.countries-info {
  padding: 0 10% 200px 10.7%; }
  @media (max-width: 1023px) {
    .countries-info {
      margin-bottom: 57px;
      padding: 0; } }
  @media (max-width: 767px) {
    .countries-info {
      margin-bottom: 35px; } }

.countries-info__navigation {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 78%;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.415px;
  border-bottom: 1px solid rgba(44, 46, 63, 0.3);
  padding: 0 0 15px 0;
  color: rgba(44, 46, 63, 0.3); }
  @media (max-width: 1900px) {
    .countries-info__navigation {
      width: 80%; } }
  @media (max-width: 1854px) {
    .countries-info__navigation {
      width: 100%; } }
  @media (max-width: 1023px) {
    .countries-info__navigation {
      flex-wrap: nowrap;
      padding: 0 4.8% 14px 4.8%;
      overflow: hidden; } }

.countries-info__navigation-item {
  margin-right: 11%; }
  .countries-info__navigation-item:last-child {
    margin-right: 0; }
  @media (max-width: 1854px) {
    .countries-info__navigation-item {
      margin-right: 4%; } }
  @media (max-width: 1023px) {
    .countries-info__navigation-item {
      margin-right: 14.4%; } }
  @media (max-width: 767px) {
    .countries-info__navigation-item {
      margin-right: 35%; } }

.countries-info__navigation-action:hover {
  color: #2c2e3f; }

.countries-info__navigation-action--active {
  color: #fe7865; }

.country-card {
  display: none;
  padding-top: 75px; }
  @media (max-width: 1023px) {
    .country-card {
      padding-top: 15px; } }

.country-card__wrapper {
  position: relative;
  flex-basis: 39.7%;
  min-width: 305px; }
  @media (max-width: 1023px) {
    .country-card__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-basis: 100%;
      margin-bottom: 30px; } }
  @media (max-width: 767px) {
    .country-card__wrapper {
      margin-bottom: 50px; } }

.country-card__title {
  margin: 16px 0 55px 0; }
  @media (max-width: 1023px) {
    .country-card__title {
      margin-bottom: 5px; } }
  @media (max-width: 767px) {
    .country-card__title {
      margin-top: 5px; } }

.country-card__text {
  padding: 0 20% 32px 0; }
  @media (max-width: 1023px) {
    .country-card__text {
      padding: 0 2%;
      margin-bottom: 20px;
      text-align: center; } }
  @media (max-width: 767px) {
    .country-card__text {
      padding: 0 6%;
      margin-top: 10px; } }

.country-card__button {
  padding: 30px 40px; }
  @media (max-width: 1023px) {
    .country-card__button {
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      padding: 19px 52px; } }
  @media (max-width: 767px) {
    .country-card__button {
      padding: 19px 70px; } }

.country-card--active {
  display: flex;
  flex-wrap: wrap; }

@media (max-width: 1023px) {
  .country-card__picture {
    width: 100%;
    font-size: 0; } }

.country-card__image {
  max-width: 100%;
  object-fit: cover; }
  @media (max-width: 1023px) {
    .country-card__image {
      width: 100%;
      height: auto; } }

.reviews {
  position: absolute;
  top: 120px;
  right: -48.9%;
  box-sizing: border-box;
  width: 382px;
  padding: 26px 30px;
  background-color: #ffffff; }
  @media (max-width: 1023px) {
    .reviews {
      right: unset;
      top: 82px;
      bottom: -27px; } }
  @media (max-width: 767px) {
    .reviews {
      text-align: center;
      top: 50px;
      width: 268px;
      padding: 26px 20px; } }

.reviews__title {
  position: relative;
  margin: 0 0 35px 0;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.69px;
  color: #2c2e3f; }
  .reviews__title::after {
    position: absolute; }
  @media (max-width: 767px) {
    .reviews__title {
      font-size: 20px; } }
  @media (max-width: 767px) {
    .reviews__title {
      margin-bottom: 24px; } }

.reviews__text {
  font-size: 14px;
  line-height: 28px;
  letter-spacing: -0.41px;
  margin-bottom: 28px; }
  @media (max-width: 767px) {
    .reviews__text {
      margin-bottom: 20px; } }

.reviews__author {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.46px; }
  @media (max-width: 767px) {
    .reviews__author {
      flex-direction: column; } }

.reviews__image {
  margin-right: 16px; }
  @media (max-width: 767px) {
    .reviews__image {
      margin: 0; } }

.prices {
  display: flex;
  flex-wrap: wrap;
  padding-top: 38px;
  padding-bottom: 138px; }
  @media (max-width: 1023px) {
    .prices {
      box-sizing: border-box;
      justify-content: center;
      padding: 0 20px;
      margin-bottom: 124px; } }
  @media (max-width: 767px) {
    .prices {
      padding: 0 4.9%;
      margin-bottom: 109px; } }

@media (max-width: 1023px) {
  .prices__title {
    margin-bottom: 20px; } }

@media (max-width: 767px) {
  .prices__title {
    margin-bottom: 15px; } }

.prices__intro-text {
  margin: 50px 0 54px 0;
  letter-spacing: -0.76px; }
  @media (max-width: 1023px) {
    .prices__intro-text {
      margin: 0;
      padding: 0 2%;
      letter-spacing: normal; } }
  @media (max-width: 767px) {
    .prices__intro-text {
      line-height: 27px; } }

.prices__summary {
  order: 1;
  width: 23%;
  padding: 72px 0 0 5.6%; }
  @media (max-width: 1023px) {
    .prices__summary {
      order: 0;
      width: 100%;
      text-align: center;
      padding: 0;
      margin-bottom: 30px; } }
  @media (max-width: 767px) {
    .prices__summary {
      margin-bottom: 40px; } }

.prices__call-us {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 0 17%;
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  margin-bottom: 15px; }
  @media (max-width: 1750px) {
    .prices__call-us {
      font-size: 18px; } }
  @media (max-width: 1573px) {
    .prices__call-us {
      padding: 0;
      font-size: 14px; } }
  @media (max-width: 1023px) {
    .prices__call-us {
      justify-content: center;
      font-size: 18px;
      padding: 0;
      margin: 31px 0 10px 0; } }
  @media (max-width: 767px) {
    .prices__call-us {
      margin-top: 20px; } }

.prices__phone {
  font-size: 20px;
  line-height: 32px;
  padding: 0 0 0 17%; }
  .prices__phone:hover {
    color: #fe7865; }
  @media (max-width: 1750px) {
    .prices__phone {
      font-size: 18px; } }
  @media (max-width: 1573px) {
    .prices__phone {
      font-size: 14px;
      padding: 0; } }
  @media (max-width: 1023px) {
    .prices__phone {
      font-size: 18px;
      color: #fe7865; } }

.prices__phone-icon {
  left: 0; }
  @media (max-width: 1573px) {
    .prices__phone-icon {
      left: -25px; } }
  @media (max-width: 1023px) {
    .prices__phone-icon {
      display: none; } }

.packages {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  flex-basis: 69.5%;
  padding: 0 0 0 0.6%; }
  @media (max-width: 1023px) {
    .packages {
      flex-basis: unset;
      justify-content: center; } }

.packages__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 45.178%;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 1px rgba(44, 46, 63, 0.3);
  border-radius: 6px;
  background-color: #ffffff;
  padding: 15px 3.7% 30px 3.7%;
  margin-right: 4.1%; }
  .packages__item:last-child {
    margin: 0; }
  .packages__item:hover {
    box-shadow: inset 0 0 0 3px #fe7865; }
  @media (max-width: 1023px) {
    .packages__item {
      width: 39.6%;
      margin-right: 50px;
      padding: 0;
      border-radius: 6px 6px 0 0; } }
  @media (max-width: 767px) {
    .packages__item {
      margin: 0;
      width: 100%;
      margin-bottom: 30px; } }

.packages__intro {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: rgba(44, 46, 63, 0.7); }
  @media (max-width: 1626px) {
    .packages__intro {
      justify-content: center; } }
  @media (max-width: 1023px) {
    .packages__intro {
      padding: 30px 10% 14px 10%; } }
  @media (max-width: 767px) {
    .packages__intro {
      padding-bottom: 19px; } }

.packages__title {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  margin: 0 auto 0 0; }
  @media (max-width: 1805px) {
    .packages__title {
      font-size: 24px; } }
  @media (max-width: 1626px) {
    .packages__title {
      flex-basis: 100%;
      text-align: center; } }
  @media (max-width: 1200px) {
    .packages__title {
      font-size: 20px; } }
  @media (max-width: 1023px) {
    .packages__title {
      font-size: 24px;
      line-height: 34px;
      margin-bottom: 10px; } }

.packages__price {
  font-weight: bold;
  font-size: 25px;
  line-height: 34px; }
  @media (max-width: 1805px) {
    .packages__price {
      font-size: 23px; } }
  @media (max-width: 1200px) {
    .packages__price {
      font-size: 22px; } }
  @media (max-width: 1023px) {
    .packages__price {
      margin: 0;
      font-size: 25px; } }

.packages__text {
  padding: 0 5% 28px 0;
  margin: 15px 0 30px 0;
  border-bottom: 1px solid rgba(44, 46, 63, 0.3);
  line-height: 24px; }
  @media (max-width: 1023px) {
    .packages__text {
      text-align: center;
      padding: 0 0 9px 0;
      margin: 10px 0 0 0; } }

.packages__button {
  width: 100%;
  padding: 30px; }
  @media (max-width: 1023px) {
    .packages__button {
      padding: 20px 30px;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px; } }
  @media (max-width: 767px) {
    .packages__button {
      padding: 16px 30px; } }

.packages__item:hover .packages__title {
  color: #fe7865; }

.packages__item:hover .packages__price {
  color: #fe7865; }

.packages__item:hover .packages__text {
  border-color: #fe7865; }

.package {
  margin-bottom: 15px; }
  @media (max-width: 1023px) {
    .package {
      padding: 0 8%;
      min-height: 350px;
      margin-bottom: 7px; } }
  @media (max-width: 767px) {
    .package {
      padding: 0 5.9%;
      margin-bottom: 0; } }

.package__list {
  padding-top: 30px;
  padding-bottom: 15px; }

.package__item {
  position: relative;
  padding-left: 28px;
  line-height: 32px;
  margin-bottom: 15px; }
  @media (max-width: 1023px) {
    .package__item {
      margin-bottom: 9px; } }

.package__icon {
  position: absolute;
  top: 6px;
  left: -6px;
  width: 22px;
  height: 22px; }
  @media (max-width: 767px) {
    .package__icon {
      left: 0; } }

.callback {
  position: relative;
  margin-bottom: 151px; }
  @media (max-width: 1023px) {
    .callback {
      margin-bottom: 62px; } }
  @media (max-width: 767px) {
    .callback {
      padding: 0 4.9%;
      box-sizing: border-box;
      margin-bottom: 134px; } }

.callback__image {
  margin-left: 2.2%;
  max-width: 100%;
  object-fit: cover; }
  @media (max-width: 1023px) {
    .callback__image {
      margin: 0; } }
  @media (max-width: 767px) {
    .callback__image {
      display: none; } }

.callback__container {
  position: relative;
  width: 73%; }
  @media (max-width: 1023px) {
    .callback__container {
      width: 100%; } }
  @media (max-width: 767px) {
    .callback__container {
      min-height: 320px; } }

.callback-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 30px rgba(44, 46, 63, 0.1);
  box-sizing: border-box;
  position: absolute;
  width: 656px;
  min-height: 315px;
  top: 49.4%;
  right: -325px;
  transform: translateY(-50%);
  border-radius: 5px;
  padding: 43px 50px 56px 50px;
  background-color: #ffffff; }
  @media (max-width: 1023px) {
    .callback-form {
      right: 50%;
      transform: translate(50%, -50%); } }
  @media (max-width: 767px) {
    .callback-form {
      width: 100%;
      padding: 43px 0 0 0;
      background-color: #fbf8f8; } }

.callback-form__title {
  flex-basis: 100%;
  font-size: 25px;
  line-height: 32px;
  font-weight: 600;
  text-align: center;
  margin: 5px 0 0 0; }
  @media (max-width: 767px) {
    .callback-form__title {
      padding: 5px 0 10px 0; } }

.callback-form__text {
  flex-basis: 100%;
  text-align: center; }

.callback-form__input-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  width: 100%;
  margin-bottom: 10px; }
  @media (max-width: 1023px) {
    .callback-form__input-container {
      margin-bottom: 30px; } }
  @media (max-width: 767px) {
    .callback-form__input-container {
      grid-template-columns: 1fr;
      row-gap: 20px; } }

.callback-form__input {
  flex: 1;
  border: 1px solid rgba(44, 46, 63, 0.3);
  padding: 16px 15px; }
  .callback-form__input::placeholder {
    color: #141517; }
  .callback-form__input:last-child {
    margin-right: 0; }

.callback-form__button {
  padding: 18px 40px; }
  @media (max-width: 1023px) {
    .callback-form__button {
      padding: 18px 83px;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px; } }
  @media (max-width: 767px) {
    .callback-form__button {
      padding: 18px 101px; } }

.callback-form--modal {
  width: 100%;
  position: unset;
  transform: unset;
  padding: 0 5%; }

.callback-form__input-container--modal {
  grid-template-columns: 1fr;
  row-gap: 20px; }

.callback-form__input--modal {
  margin: 0; }

.footer {
  display: grid;
  grid-template-columns: 34.5% 33% 1fr;
  font-size: 14px;
  line-height: 17px;
  color: rgba(20, 21, 23, 0.5); }
  @media (max-width: 1023px) {
    .footer {
      grid-template-columns: 54% 1fr; } }
  @media (max-width: 767px) {
    .footer {
      grid-template-columns: 1fr; } }

.footer__section {
  box-sizing: border-box; }

.footer__section--next-trips {
  padding: 0 0 0 5%; }
  @media (max-width: 767px) {
    .footer__section--next-trips {
      padding: 0;
      margin-bottom: 35px; } }

.footer__section--contacts {
  padding: 0 0 0 23%;
  border-left: 1px solid #d7d9df;
  border-right: 1px solid #d7d9df; }
  @media (max-width: 1260px) {
    .footer__section--contacts {
      padding: 0 0 0 16%; } }
  @media (max-width: 1023px) {
    .footer__section--contacts {
      padding: 0 0 0 14%; } }
  @media (max-width: 767px) {
    .footer__section--contacts {
      padding: 0; } }

.footer__section--corporative-trips {
  padding: 0 0 0 13%; }
  @media (max-width: 1023px) {
    .footer__section--corporative-trips {
      grid-column: 1/3;
      text-align: center;
      padding: 14px 0 0 0;
      margin-top: 19px; } }
  @media (max-width: 767px) {
    .footer__section--corporative-trips {
      grid-column: 1;
      margin: 0; } }

.footer__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 20px;
  color: #141517; }
  @media (max-width: 767px) {
    .footer__title {
      text-align: center; } }

.footer__text {
  line-height: 24px;
  padding-right: 4%; }
  @media (max-width: 1023px) {
    .footer__text {
      padding: 0 4%; } }

.next-countries-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; }
  @media (max-width: 767px) {
    .next-countries-list {
      justify-content: center; } }

.next-countries-list__item {
  margin-right: 50px; }
  .next-countries-list__item:last-child {
    margin-right: 0; }

.cities-list__item {
  margin-bottom: 10px; }

.contacts {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  text-decoration: underline;
  color: #fe7865; }
  @media (max-width: 767px) {
    .contacts {
      text-align: center; } }

.contacts__email {
  position: relative;
  padding-left: 13%;
  margin-bottom: 30px;
  overflow-wrap: anywhere; }
  @media (max-width: 767px) {
    .contacts__email {
      flex-basis: 100%;
      padding: 0; } }

.contacts__text {
  display: none; }
  @media (max-width: 1023px) {
    .contacts__text {
      display: inline; } }

.contacts__text--email {
  display: inline; }
  @media (max-width: 1023px) {
    .contacts__text--email {
      display: none; } }

.contacts__icon {
  color: #d7d9df;
  top: -9px;
  left: 5px; }
  @media (max-width: 767px) {
    .contacts__icon {
      left: 55px; } }

.contacts__icon--email {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 20px; }
  @media (max-width: 1380px) {
    .contacts__icon--email {
      left: -25px; } }
  @media (max-width: 1023px) {
    .contacts__icon--email {
      left: 0; } }
  @media (max-width: 767px) {
    .contacts__icon--email {
      left: 105px; } }

.contacts__phone {
  flex-basis: 100%;
  padding-left: 13%;
  margin-bottom: 19px; }
  @media (max-width: 1380px) {
    .contacts__phone {
      left: -25px; } }
  @media (max-width: 1023px) {
    .contacts__phone {
      padding-left: 13%;
      left: 0; } }
  @media (max-width: 767px) {
    .contacts__phone {
      padding: 0; } }

.modal {
  display: none; }

.modal--show {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  width: 728px;
  background-color: #fbf8f8; }
  @media (max-width: 767px) {
    .modal--show {
      width: 100%; } }

.modal__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/icons/icon-menu-open.svg"); }

@media (max-width: 767px) {
  .modal__image {
    display: none; } }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 1;
  background-color: rgba(65, 60, 60, 0.5);
  pointer-events: none; }

.overlay--show {
  pointer-events: all;
  opacity: 1; }
