.button {
  @include flex-center;

  box-sizing: border-box;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $white;
  background-color: $carrot-red;
}

.button--details {
  position: relative;
  width: 340px;
  padding: 30px 40px;
  justify-content: flex-start;

  @media (max-width: $desktop-width) {
    width: 250px;
    padding: 19px 39px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 2px;
  }

  @media (max-width: $tablet-width) {
    width: 288px;
  }
}

.button__icon {
  position: absolute;
  right: 38px;
  width: 18px;
  height: 18px;
}
