.callback {
  position: relative;
  margin-bottom: 151px;
}

.callback__image {
  margin-left: 2.2%;
  max-width: 100%;
  object-fit: cover;

  @media (max-width: $desktop-width) {
    margin: 0;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.callback__container {
  position: relative;
  width: 73%;

  @media (max-width: $desktop-width) {
    width: 100%;
  }

  @media (max-width: $tablet-width) {
    min-height: 320px;
  }
}
