.callback-form {
  @include flex-center;
  @include standard-shadow;

  box-sizing: border-box;
  position: absolute;
  width: 656px;
  top: 49.4%;
  right: -325px;
  transform: translateY(-50%);
  border-radius: 5px;
  padding: 43px 50px 56px 50px;
  background-color: $white;

  @media (max-width: $desktop-width) {
    right: 50%;
    transform: translate(50%, -50%);
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    padding: 43px 0 0 0;
    background-color: $light-pink;
  }
}

.callback-form__title {
  flex-basis: 100%;
  font-size: 25px;
  line-height: 32px;
  font-weight: 600;
  text-align: center;
  margin: 5px 0 0 0;

  @media (max-width: $tablet-width) {
    padding: 5px 0 10px 0;
  }
}

.callback-form__text {
  flex-basis: 100%;
  text-align: center;
}

.callback-form__input-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  width: 100%;

  @media (max-width: $desktop-width) {
    margin-bottom: 30px;
  }

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}

.callback-form__input {
  flex: 1;
  border: 1px solid $semi-grey-light-opacity;
  padding: 16px 15px;

  &::placeholder {
    color: $dark-grey;
  }

  &:last-child {
    margin-right: 0;
  }
}

.callback-form__button {
  padding: 18px 40px;

  @media (max-width: $desktop-width) {
    padding: 18px 83px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
  }

  @media (max-width: $tablet-width) {
    padding: 18px 101px;
  }
}

.callback-form--modal {
  width: 100%;
  position: unset;
  transform: unset;
  padding: 0 5%;
}

.callback-form__input-container--modal {
  grid-template-columns: 1fr;
  row-gap: 20px;
}

.callback-form__input--modal {
  margin: 0;
}
