.callback-form {
  @include flex-center;
  @include standard-shadow;

  position: absolute;
  top: 50%;
  right: -340px;
  transform: translateY(-50%);
  box-sizing: border-box;
  width: 656px;
  padding: 50px;
  background-color: $white;
}

.callback-form__title {
  flex-basis: 100%;
  font-size: 25px;
  line-height: 32px;
  font-weight: 600;
  text-align: center;
  margin: 5px 0;
}

.callback-form__text {
  flex-basis: 100%;
  text-align: center;
}

.callback-form__input-container {
  @include flex;

  flex-basis: 100%;
  margin-bottom: 25px;
}

.callback-form__input {
  flex: 1;
  border: 1px solid $semi-grey-light-opacity;
  margin-right: 19px;
  padding: 16px 15px;

  &::placeholder {
    color: $dark-grey;
  }

  &:last-child {
    margin-right: 0;
  }
}

.callback-form__button {
  padding: 18px 40px;
}
