.callback-form {
  @include flex-center;
  @include standard-shadow;

  box-sizing: border-box;
  position: absolute;
  top: 49.4%;
  right: -325px;
  transform: translateY(-50%);
  width: 656px;
  border-radius: 5px;
  padding: 43px 50px 56px 50px;
  background-color: $white;

  @media (max-width: $desktop-width) {
    right: 50%;
    transform: translate(50%, -50%);
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    padding: 0;
    background-color: $light-pink;
  }
}

.callback-form__title {
  flex-basis: 100%;
  font-size: 25px;
  line-height: 32px;
  font-weight: 600;
  text-align: center;
  margin: 5px 0 0 0;
}

.callback-form__text {
  flex-basis: 100%;
  text-align: center;
}

.callback-form__input-container {
  @include flex;

  flex-basis: 100%;
  margin-bottom: 25px;
}

.callback-form__input {
  flex: 1;
  border: 1px solid $semi-grey-light-opacity;
  margin-right: 19px;
  padding: 16px 15px;

  &::placeholder {
    color: $dark-grey;
  }

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: $tablet-width) {
    margin: 0;
    flex-basis: 100%;
  }
}

.callback-form__button {
  padding: 18px 40px;
}
