.callback {
  position: relative;
  margin-bottom: 150px;
}

.callback__image {
  margin-left: 12px;
  max-width: 100%;
  object-fit: cover;
}

.callback__container {
  position: relative;
  width: 73%;
}
