.country-card {
  display: none;
  padding-top: 75px;
}

.country-card__wrapper {
  position: relative;
  flex-basis: 41%;
  min-width: 305px;

  @media (max-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 100%;
  }
}

.country-card__title {
  margin: 16px 0 55px 0;
}

.country-card__text {
  padding: 0 21% 32px 0;

  @media (max-width: $desktop-width) {
    padding: 0;
  }
}

.country-card__button {
  padding: 30px 40px;
}

.country-card--active {
  @include flex;
}

.country-card__image {
  max-width: 100%;
  object-fit: cover;
}
