.countries-list {
  @include flex;

  justify-content: center;
  padding-top: 39px;

  @media (max-width: $desktop-width) {
    padding-top: 23px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 4px;
  }
}

.countries-list__item {
  margin: 0 4.445% 94px 0;
  flex-basis: 30.215%;

  &:last-child {
    margin-right: 0;
    margin-left: 60px;

    @media (max-width: $desktop-width) {
      margin-left: 0;
    }
  }

  &:nth-child(3n) {
    margin: 0;

    @media (max-width: $tablet-width) {
      margin-bottom: 35px;
    }
  }

  &:nth-child(2n) {
    @media (max-width: $desktop-width) {
      margin-left: 10px;
    }

    @media (max-width: $tablet-width) {
      margin-left: 0;
    }
  }

  @media (max-width: $desktop-width) {
    flex-basis: unset;
    margin: 0 0 15px 0;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 35px;
  }
}

.countries-list__action {
  @include flex-center;

  position: relative;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.41px;
}

.countries-list__country {
  @include flex-center;

  min-width: 51.1%;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  padding: 16px;
  background-color: $white;
}

.countries-list__image {
  width: 100%;
  height: auto;
}
