.countries-info {
  padding: 0 10% 200px 10.7%;

  @media (max-width: $desktop-width) {
    margin-bottom: 57px;
    padding: 0;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 35px;
  }
}

.countries-info__navigation {
  @include flex;

  width: 78%;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.415px;
  border-bottom: 1px solid $semi-grey-light-opacity;
  padding: 0 0 15px 0;
  color: $semi-grey-light-opacity;

  @media (max-width: 1900px) {
    width: 80%;
  }

  @media (max-width: 1854px) {
    width: 100%;
  }

  @media (max-width: $desktop-width) {
    flex-wrap: nowrap;
    padding: 0 4.8% 14px 4.8%;
    overflow-x: scroll;
  }
}

.countries-info__navigation-item {
  margin-right: 11%;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: 1854px) {
    margin-right: 4%;
  }

  @media (max-width: $desktop-width) {
    margin-right: 31%;
  }
}

.countries-info__navigation-action--active {
  color: $carrot-red;
}
