.countries-list {
  @include flex;

  justify-content: center;
  padding-top: 37px;

  @media (max-width: $desktop-width) {
    padding-top: 23px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 4px;
  }
}

.countries-list__item {
  margin: 0 4.445% 100px 0;
  flex-basis: 30.215%;

  &:last-child {
    margin-right: 0;
    margin-left: 60px;

    @media (max-width: $desktop-width) {
      margin-left: 0;
      margin-top: 11px;
    }

    @media (max-width: $tablet-width) {
      margin-top: 0;
    }
  }

  &:nth-child(3n) {
    margin: 0;

    @media (max-width: $tablet-width) {
      margin-bottom: 35px;
    }
  }

  &:nth-child(2n) {
    @media (max-width: $desktop-width) {
      margin-left: 10px;
    }

    @media (max-width: $tablet-width) {
      margin-left: 0;
    }
  }

  @media (max-width: $desktop-width) {
    flex-basis: 40%;
    margin: 0 0 19px 0;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 35px;
    flex-basis: 100%;
  }
}

.countries-list__action {
  @include flex-center;

  position: relative;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.41px;
}

.countries-list__country {
  @include flex-center;

  min-width: 51.1%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 16px;
  background-color: $white;

  @media (max-width: $desktop-width) {
    min-width: 60%;
  }
}

.countries-list__image {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

.countries-list__hover-mask {
  display: none;
}

.countries-list__action:hover .countries-list__hover-mask {
  @include flex-center;

  position: absolute;
  top: 0;
  left: 0;
  background-color: $dark-grey-opacity;
  width: 100%;
  min-height: 100%;
}

.countries-list__more {
  @include flex-center;

  width: 266px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2px;
  border: 1px solid $white;
  text-transform: uppercase;
  color: $white;
  padding: 18px 0;
}
