.footer {
  @include flex;

  font-size: 14px;
  line-height: 17px;
  color: $dark-grey-opacity;
}

.footer__section {
  box-sizing: border-box;
  margin-left: 1.5%;
}

.footer__section--next-trips {
  width: 32%;
}

.footer__section--contacts {
  width: 34%;
  padding: 0 0 0 7.7%;
  border-left: 1px solid $light-grey;
  border-right: 1px solid $light-grey;
}

.footer__section--corporative-trips {
  width: 29%;
  padding-left: 2.4%;
}

.footer__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 20px;
  color: $dark-grey;
}
