.visually-hidden {
  @include visually-hidden;
}

.list-reset {
  @include list-reset;
}

.link-reset {
  @include link-reset;
}

.button-reset {
  @include button-reset;

  font-family: $main-font;
}

.input-reset {
  @include input-reset;
}

.container {
  width: 61%;
  margin-left: auto;
  margin-right: auto;
}

.title {
  @include title;
}

.text {
  font-size: 16px;
  line-height: 28px;
  font-weight: normal;
  letter-spacing: -0.46px;
  color: $semi-grey-opacity;
}
