.header {
  @include flex;

  position: relative;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 40px 0 33px 0;

  @media (max-width: $desktop-width) {
    padding: 0;
    align-items: center;
  }
}
