.header {
  @include flex;

  position: relative;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 40px 0.4% 33px 0.4%;

  @media (max-width: $desktop-width) {
    padding: 0;
    align-items: center;
  }
}

.header__logo-container {
  @media (max-width: $desktop-width) {
    @include flex-center;

    padding: 14px 0 10px 2.8%;
  }
}

.header__logo {
  @media (max-width: $desktop-width) {
    width: 44px;
  }
}
