.intro {
  @include flex;

  justify-content: flex-end;
  padding: 185px 20% 294px 20%;
  margin-bottom: 200px;
  background-image: url("../img/mountains-view-desktop.jpg");
  background-color: $dark-grey;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 center;
  color: $white;

  @media (max-width: $desktop-width) {
    background-image: url("../img/mountains-view-tablet.jpg");
    padding: 60px 22% 80px 23%;
    margin-bottom: 80px;
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/mountains-view-mobile.jpg");
    padding: 80px 0;
    margin-bottom: 20px;
    text-align: center;
    background-size: auto;
    background-position: top;
    background-color: $white;
  }
}

.intro__wrapper {
  flex-basis: 39%;

  @media (max-width: $desktop-width) {
    @include flex-center;

    flex-basis: auto;
  }
}

.intro__title {
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.1px;
  margin: 0 0 30px 0;

  @media (max-width: $desktop-width) {
    font-size: 30px;
    line-height: 45px;
    letter-spacing: normal;
    margin: 0;
  }

  @media (max-width: $tablet-width) {
    font-size: 24px;
    margin-bottom: 80px;
  }
}

.intro__text {
  line-height: 27px;
  letter-spacing: -0.46px;
  padding-right: 60px;
  margin-bottom: 34px;

  @media (max-width: $desktop-width) {
    font-size: 16px;
    line-height: 27px;
    padding-right: 0;
    margin-bottom: 10px;
    text-align: center;
  }

  @media (max-width: $tablet-width) {
    color: $semi-grey;
  }
}
