.intro {
  @include flex;

  justify-content: flex-end;
  padding: 187px 20% 294px 20%;
  margin-bottom: 202px;
  background-image: url("../img/mountains-view-desktop.jpg");
  background-color: $dark-grey;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 center;
  color: $white;

  @media (max-width: $desktop-width) {
    background-image: url("../img/mountains-view-tablet.jpg");
    padding: 60px 23% 83px 23%;
    margin-bottom: 81px;
  }

  @media (max-width: $tablet-width) {
    text-align: center;
    background-image: none;
    background-color: $white;
    padding: 0;
    margin-bottom: 104px;
  }
}

.intro__wrapper {
  flex-basis: 40%;

  @media (max-width: $desktop-width) {
    @include flex-center;

    flex-basis: auto;
  }
}

.intro__title-container {
  @media (max-width: $tablet-width) {
    box-sizing: border-box;
    width: 100%;
    min-height: 235px;
    background-image: url("../img/mountains-view-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 81px;
    margin-bottom: 5px;
  }
}

.intro__title {
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.1px;
  margin: 0 0 27px 0;

  @media (max-width: $desktop-width) {
    font-size: 30px;
    line-height: 45px;
    letter-spacing: normal;
    margin: 0;
  }

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;
    padding: 0 16% 0 18%;
    margin-bottom: 80px;
  }
}

.intro__text {
  line-height: 27px;
  letter-spacing: -0.46px;
  padding-right: 25%;
  margin-bottom: 34px;

  @media (max-width: $desktop-width) {
    font-size: 16px;
    line-height: 27px;
    padding-right: 0;
    margin-bottom: 9px;
    text-align: center;
  }

  @media (max-width: $tablet-width) {
    color: $semi-grey;
    padding: 0 8%;
    margin-bottom: 19px;
  }
}
