.menu__list {
  @include flex;

  justify-content: space-around;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: $dark-grey;
  padding-top: 3px;

  @media (max-width: $desktop-width) {
    display: none;
  }
}

.menu__item {
  margin-right: 40px;

  &:last-of-type {
    margin-right: 0;
  }
}

.menu__item--price {
  margin-right: 89px;
}

.menu__button {
  display: none;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $carrot-red;
  background-image: url("../img/icons/icon-menu-close.svg");

  @media (max-width: $desktop-width) {
    display: flex;
  }
}

.menu-button--open {
  background-image: url("../img/icons/icon-menu-open.svg");
  background-color: $white;
}
