.menu {
  @include flex;

  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.menu__list {
  @include flex;

  justify-content: space-around;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: $dark-grey;
  padding: 3px 1.3% 0 1.3%;

  @media (max-width: $desktop-width) {
    display: none;
  }
}

.menu__item {
  margin-right: 40px;

  &:last-of-type {
    margin-right: 0;
  }

  @media (max-width: $desktop-width) {
    flex-basis: 100%;
    padding: 17px;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin: 0 0 30px 0;
    background-color: $light-pink;
  }
}

.menu__action {
  @media (max-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &:hover {
    color: $carrot-red;
  }
}

.menu__arrow {
  display: none;

  @media (max-width: $desktop-width) {
    display: block;
  }
}

.menu__item--price {
  margin-right: 89px;

  @media (max-width: $desktop-width) {
    margin: 0;
  }
}

.menu__item--phone {
  @media (max-width: $desktop-width) {
    display: none;
  }
}

.menu__button {
  display: none;
  width: 72px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $carrot-red;
  background-image: url("../img/icons/icon-menu-close.svg");

  @media (max-width: $desktop-width) {
    display: flex;
  }

  @media (max-width: $tablet-width) {
    width: 50px;
  }
}

.menu--no-js {
  background-color: $white;
  align-items: flex-start;

  @media (max-width: $desktop-width) {
    min-height: 568px;
  }
}

.menu__list--no-js {
  position: relative;

  @media (max-width: $desktop-width) {
    display: flex;
    flex-basis: 100%;
    background-color: $white;
  }
}

.menu__button--no-js {
  display: none;
}

.menu--open {
  @media (max-width: $desktop-width) {
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: $white;
    align-items: flex-start;
    min-height: 568px;
  }
}

.menu__list--open {
  position: relative;

  @media (max-width: $desktop-width) {
    display: flex;
    flex-basis: 100%;
    background-color: $white;
  }
}

.menu__button--open {
  background-image: url("../img/icons/icon-menu-open.svg");
  background-color: $white;
}
