@mixin visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  font-size: 7px;
}

@mixin list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin link-reset {
  color: inherit;
  text-decoration: none;
}

@mixin button-reset {
  background: none;
  border: none;
}

@mixin input-reset {
  border: none;
  font-family: $main-font;
  font-size: 14px;
  line-height: 17px;
  color: $dark-grey;
}

@mixin flex {
  display: flex;
  flex-wrap: wrap;
}

@mixin flex-center {
  @include flex;

  justify-content: center;
  align-items: center;
}

@mixin title {
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.24px;
  color: $semi-grey;
}

@mixin standard-shadow {
  box-shadow: 0 4px 30px $semi-grey-max-opacity;
}
