.package {
  margin-bottom: 15px;
}

.package__list {
  padding-top: 30px;
  padding-bottom: 15px;
}

.package__item {
  position: relative;
  padding-left: 28px;
  line-height: 32px;
  margin-bottom: 15px;

  &::before {
    position: absolute;
    top: 6px;
    left: -6px;
    content: "";
    width: 22px;
    height: 22px;
    background-image: url("../img/icons/icon-check.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
