.package {
  @include flex;

  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  border: 1px solid $semi-grey-light-opacity;
  border-radius: 6px;
  background-color: $white;
  padding: 15px 35px 30px 30px;
  flex-basis: 32%;
  margin-right: 30px;
}

.package__title {
  @include flex;

  justify-content: space-between;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -1.27px;
  margin-bottom: 36px;
  color: $semi-grey-opacity;
}

.package__price {
  font-weight: bold;
  font-size: 25px;
  line-height: 34px;
}

.package__text {
  padding: 0 10px 28px 0;
  margin: 0;
  border-bottom: 1px solid $semi-grey-light-opacity;
  line-height: 24px;
}

.package__list {
  padding-top: 30px;
  padding-bottom: 15px;
}

.package__item {
  position: relative;
  padding-left: 30px;
  line-height: 32px;
  margin-bottom: 15px;

  &::before {
    position: absolute;
    left: 0;
    content: "";
    width: 22px;
    height: 22px;
    background-image: url("../img/icons/icon-check.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.package__button {
  width: 100%;
  padding: 30px;
}
