.package {
  margin-bottom: 15px;

  @media (max-width: $desktop-width) {
    padding: 0 35px;
  }
}

.package__list {
  padding-top: 30px;
  padding-bottom: 15px;
}

.package__item {
  position: relative;
  padding-left: 28px;
  line-height: 32px;
  margin-bottom: 15px;
}

.package__icon {
  position: absolute;
  top: 6px;
  left: -6px;
  width: 22px;
  height: 22px;
}
