.packages {
  @include flex;

  box-sizing: border-box;
  flex-basis: 69.5%;
  padding: 0 0 0 0.6%;

  @media (max-width: $desktop-width) {
    flex-basis: unset;
    justify-content: center;
  }
}

.packages__item {
  @include flex;

  flex-direction: column;
  justify-content: space-between;
  width: 45.178%;
  box-sizing: border-box;
  border: 1px solid $semi-grey-light-opacity;
  border-radius: 6px;
  background-color: $white;
  padding: 15px 3.7% 30px 3.7%;
  margin-right: 4.1%;

  &:last-child {
    margin: 0;
  }

  @media (max-width: $desktop-width) {
    width: 40.7%;
    margin-right: 50px;
    padding: 0;
    border-radius: 6px 6px 0 0;
  }

  @media (max-width: $tablet-width) {
    margin: 0;
    width: 100%;
  }
}

.packages__intro {
  @include flex;

  align-items: center;
  color: $semi-grey-opacity;

  @media (max-width: 1626px) {
    justify-content: center;
  }
}

.packages__title {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  margin: 0 auto 0 0;

  @media (max-width: 1805px) {
    font-size: 24px;
  }

  @media (max-width: 1626px) {
    flex-basis: 100%;
    text-align: center;
  }

  @media (max-width: 1200px) {
    font-size: 20px;
  }
}

.packages__price {
  font-weight: bold;
  font-size: 25px;
  line-height: 34px;

  @media (max-width: 1805px) {
    font-size: 23px;
  }

  @media (max-width: 1200px) {
    font-size: 22px;
  }
}

.packages__text {
  padding: 0 5% 28px 0;
  margin: 15px 0 30px 0;
  border-bottom: 1px solid $semi-grey-light-opacity;
  line-height: 24px;

  @media (max-width: $desktop-width) {
    text-align: center;
    padding: 0;
  }
}

.packages__button {
  width: 100%;
  padding: 30px;

  @media (max-width: $desktop-width) {
    padding: 18px 30px;
  }
}
