.page {
  margin: 0;
  padding: 0;
  font-family: $main-font;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  color: $semi-grey;
}

.page__main {
  background-image: url("../img/bg-map.svg");
  background-repeat: no-repeat;
  background-position: center 72%;
}
