.phone {
  position: relative;
  font-size: 18px;
  text-decoration: underline;

  &::before {
    position: absolute;
    top: -4px;
    left: -35px;
    content: "";
    width: 30px;
    height: 30px;
    background-image: url("../img/icons/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
