.places {
  @media (max-width: $desktop-width) {
    @include flex;

    justify-content: center;
    margin-bottom: 86px;
  }
}

.places__title {
  padding-right: 657px;
  margin-bottom: 64px;

  @media (max-width: $desktop-width) {
    padding-right: 0;
    margin: 0;
  }
}

.places__text {
  padding-right: 70%;

  @media (max-width: $desktop-width) {
    padding: 0 26%;
    text-align: center;
  }
}
