.places {
  @media (max-width: $desktop-width) {
    @include flex;

    justify-content: center;
    margin-bottom: 80px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 6px;
  }
}

.places__title {
  padding: 0 70% 0 0.6%;
  margin-bottom: 64px;

  @media (max-width: $desktop-width) {
    padding: 0;
    margin: 0;
  }
}

.places__text {
  padding: 0 70% 0 0.6%;

  @media (max-width: $desktop-width) {
    padding: 0 26%;
    margin-top: 21px;
    text-align: center;
  }

  @media (max-width: $tablet-width) {
    padding: 0 10px;
    margin-top: 15px;
  }
}
