.prices {
  @include flex;

  padding-top: 38px;
  padding-bottom: 136px;

  @media (max-width: 1023px) {
    box-sizing: border-box;
    justify-content: center;
    padding: 0 20px;
    margin-bottom: 128px;
  }
}

.prices__intro-text {
  margin-bottom: 60px;
  margin: 50px 0 54px 0;
  letter-spacing: -0.76px;
}

.prices__summary {
  order: 1;
  width: 23%;
  padding: 72px 0 0 5.6%;

  @media (max-width: 1023px) {
    order: 0;
    width: 100%;
    padding: 0;
    text-align: center;
  }
}

.prices__call-us {
  @include flex;

  padding: 0 0 0 17%;
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  margin-bottom: 15px;

  @media (max-width: $desktop-width) {
    justify-content: center;
    padding: 0;
    font-size: 18px;
  }

  @media (max-width: 1750px) {
    font-size: 18px;
  }

  @media (max-width: 1573px) {
    padding: 0;
    font-size: 14px;
  }
}

.prices__phone {
  font-size: 20px;
  line-height: 32px;
  padding: 0 0 0 17%;

  @media (max-width: 1750px) {
    font-size: 18px;
  }

  @media (max-width: 1573px) {
    font-size: 14px;
    padding: 0;
  }
}

.prices__phone-icon {
  left: 0;

  @media (max-width: 1573px) {
    left: -25px;
  }
}
