.prices {
  @include flex;

  padding-top: 38px;
  padding-bottom: 138px;

  @media (max-width: $desktop-width) {
    box-sizing: border-box;
    justify-content: center;
    padding: 0 20px;
    margin-bottom: 124px;
  }

  @media (max-width: $tablet-width) {
    padding: 0 4.9%;
    margin-bottom: 109px;
  }
}

.prices__title {
  @media (max-width: $desktop-width) {
    margin-bottom: 20px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 15px;
  }
}

.prices__intro-text {
  margin: 50px 0 54px 0;
  letter-spacing: -0.76px;

  @media (max-width: $desktop-width) {
    margin: 0;
    padding: 0 2%;
    letter-spacing: normal;
  }

  @media (max-width: $tablet-width) {
    line-height: 27px;
  }
}

.prices__summary {
  order: 1;
  width: 23%;
  padding: 72px 0 0 5.6%;

  @media (max-width: $desktop-width) {
    order: 0;
    width: 100%;
    text-align: center;
    padding: 0;
    margin-bottom: 30px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 40px;
  }
}

.prices__call-us {
  @include flex;

  padding: 0 0 0 17%;
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  margin-bottom: 15px;

  @media (max-width: 1750px) {
    font-size: 18px;
  }

  @media (max-width: 1573px) {
    padding: 0;
    font-size: 14px;
  }

  @media (max-width: $desktop-width) {
    justify-content: center;
    font-size: 18px;
    padding: 0;
    margin: 31px 0 10px 0;
  }

  @media (max-width: $tablet-width) {
    margin-top: 20px;
  }
}

.prices__phone {
  font-size: 20px;
  line-height: 32px;
  padding: 0 0 0 17%;

  &:hover {
    color: $carrot-red;
  }

  @media (max-width: 1750px) {
    font-size: 18px;
  }

  @media (max-width: 1573px) {
    font-size: 14px;
    padding: 0;
  }

  @media (max-width: $desktop-width) {
    font-size: 18px;
    color: $carrot-red;
  }
}

.prices__phone-icon {
  left: 0;

  @media (max-width: 1573px) {
    left: -25px;
  }

  @media (max-width: $desktop-width) {
    display: none;
  }
}
