.reviews {
  position: absolute;
  top: 120px;
  right: -48.9%;
  box-sizing: border-box;
  width: 382px;
  padding: 26px 30px;
  background-color: $white;

  @media (max-width: $desktop-width) {
    right: unset;
    top: unset;
    bottom: -25px;
  }

  @media (max-width: $tablet-width) {
    text-align: center;
    width: 268px;
  }
}

.reviews__title {
  position: relative;
  margin: 0 0 35px 0;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.69px;
  color: $semi-grey;

  &::after {
    position: absolute;
  }
}

.reviews__text {
  font-size: 14px;
  line-height: 28px;
  letter-spacing: -0.41px;
  margin-bottom: 28px;
}

.reviews__author {
  @include flex;

  align-items: center;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.46px;
}

.reviews__image {
  margin-right: 16px;
}
