$main-font: "Montserrat", "Arial", sans-serif;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1023px;
//colors
$white: #ffffff;
$dark-grey: #141517;
$semi-grey: #2c2e3f;
$light-grey: #d7d9df;
$carrot-red: #fe7865;
$semi-grey-opacity: rgba($semi-grey, 0.7);
$semi-grey-light-opacity: rgba($semi-grey, 0.3);
$semi-grey-max-opacity: rgba($semi-grey, 0.1);
$dark-grey-opacity: rgba($dark-grey, 0.5);
